<nav class="navbar navbar-dark">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 logo_st">
          <a class="navbar-brand" href="https://www.scotiabankcolpatria.com/"><img src="https://scotiabankfiles.azureedge.net/scotiabank-colombia/Global-Rebrand/logo-site-2.png" alt="logo"></a>
        </div>
        <div class="col-md-6 links_st">
          <div>
            <a routerLink="/login" class="btn">Ingresar </a>
            <a routerLink="/register" class="btn">Registrarse </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
